<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content>
	<p>{{ content }}</p>
	@for (field of fields; track field.title) {
	<p>
		<mat-form-field class="full-width">
			<mat-label>{{field.title}}</mat-label>
			<input matInput
				   [type]="field.type"
				   [(ngModel)]="field.value">
			@if (field.hint) {
			<mat-hint>{{field.hint}}</mat-hint>
			}
		</mat-form-field>
	</p>
	}
</div>
<div mat-dialog-actions
	 align="end">
	<button type="button"
			mat-button
			(click)="dialogRef.close()">{{ cancel }}</button>
	<button type="button"
			mat-raised-button
			color="primary"
			[mat-dialog-close]="fields">{{ ok }}</button>
</div>