mat-toolbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

main {
	height: calc(100% - 64px);
    margin-top: 64px;
}

.body {
	padding: 16px;
}

footer {
	background-color: #eee;
    padding: 16px 0;
}

.entry-date {
	text-align: right;
	
	span {
		font-size: 0.8em;
		color: #888;
	}
}