<mat-toolbar color="primary">
	<mat-toolbar-row>
		<button routerLink="/"
				mat-icon-button>
			<mat-icon>arrow_back</mat-icon>
		</button>
		<span>Logger</span>
	</mat-toolbar-row>
</mat-toolbar>

<form name="frm-login"
	  (ngSubmit)="doRegister($event)">
	<mat-card class="center-card">
		<mat-card-header>
			<mat-card-title>Registro</mat-card-title>
		</mat-card-header>
		<mat-card-content class="center-card-fields">
			<mat-form-field>
				<mat-label>Nombre de usuario</mat-label>
				<input matInput
					   [(ngModel)]="registerData.username"
					   [disabled]="registerSending"
					   required
					   name="username">
			</mat-form-field>
			<mat-form-field>
				<mat-label>Contraseña</mat-label>
				<input matInput
					   type="password"
					   [(ngModel)]="registerData.pass"
					   [disabled]="registerSending"
					   required
					   name="pass">
			</mat-form-field>
			<mat-form-field>
				<mat-label>Confirmar contraseña</mat-label>
				<input matInput
					   type="password"
					   [(ngModel)]="registerData.conf"
					   [disabled]="registerSending"
					   required
					   name="conf">
			</mat-form-field>
			@if (registerUsernameError) {
			<fieldset class="center-card-error">
				<legend>Error</legend>
				El nombre de usuario ya está en uso.
			</fieldset>
			}
			@if (registerPassError) {
			<fieldset class="center-card-error">
				<legend>Error</legend>
				Las contraseñas no coinciden.
			</fieldset>
			}
		</mat-card-content>
		<mat-card-actions class="center-card-buttons center-card-buttons-end">
			<button mat-raised-button
					color="primary"
					[disabled]="registerSending"
					type="submit">
				@if (registerSending) {
				<img src="/assets/loading.svg"
					 alt="Cargando...">
				}
				Continuar
			</button>
		</mat-card-actions>
	</mat-card>
</form>