<mat-toolbar color="primary">
  <mat-toolbar-row>
	<button [routerLink]="['/',username, entry.id, entry.slug]" mat-icon-button>
		<mat-icon>arrow_back</mat-icon>
	</button>
    <span *ngIf="entry.title!=''">Editar: {{entry.title}}</span>
    <span *ngIf="entry.title==''">Editar: Sin título</span>
	<span class="flex-space"></span>
	<button mat-icon-button aria-label="Guardar entrada" (click)="saveEntry()">
		<mat-icon>save</mat-icon>
	</button>
  </mat-toolbar-row>
</mat-toolbar>

<main>
	<mat-form-field class="new-title">
		<mat-label>Título</mat-label>
		<input matInput [(ngModel)]="entry.title" required name="title" #title>
	</mat-form-field>
	
	<div class="tools">
		<button mat-button (click)="applyFormat('b')"><mat-icon>format_bold</mat-icon></button>
		<button mat-button (click)="applyFormat('i')"><mat-icon>format_italic</mat-icon></button>
		<button mat-button (click)="applyFormat('u')"><mat-icon>format_underlined</mat-icon></button>
		<button mat-button (click)="applyFormat('l')"><mat-icon>format_align_left</mat-icon></button>
		<button mat-button (click)="applyFormat('c')"><mat-icon>format_align_center</mat-icon></button>
		<button mat-button (click)="applyFormat('r')"><mat-icon>format_align_right</mat-icon></button>
		<button mat-button (click)="openPhotos()"><mat-icon>insert_photo</mat-icon></button>
	</div>
	<textarea class="big-text" [(ngModel)]="entry.body" placeholder="Escribe aquí el texto de la entrada" #entryText></textarea>
	
	<mat-form-field class="new-title">
		<mat-label>Tags</mat-label>
		<input matInput [(ngModel)]="tags" name="tags">
	</mat-form-field>
	
	<div class="tag-suggestions" *ngIf="tagList.length>0">
		<button mat-flat-button color="primary" *ngFor="let tag of tagList" (click)="addTag(tag)">{{tag.name}}</button>
	</div>
	
	<div class="entry-delete">
		<span><strong>Borrar entrada</strong> Si quieres borrar esta entrada pulsa el botón "Borrar entrada". ¡Cuidado! Esta acción es irreversible.</span>
		<button mat-raised-button color="warn" (click)="deleteEntry()">Borrar entrada</button>
	</div>
</main>

<div class="photos" *ngIf="showPhotos">
	<mat-card>
		<mat-card-header>
			<mat-card-title>
				Añadir imagen
				<span class="flex-space"></span>
				<button mat-icon-button (click)="closePhotos()">
					<mat-icon>close</mat-icon>
				</button>
			</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<div class="photos-list">
				<div *ngFor="let image of imageList" class="photo-item">
					<img src="https://via.placeholder.com/150">
				</div>
				<div class="photo-add">
					<mat-icon>add</mat-icon>
					<span>Añadir nueva</span>
				</div>
			</div>
		</mat-card-content>
		<mat-card-actions class="center-card-buttons-end">
			<button mat-raised-button color="primary">Añadir</button>
		</mat-card-actions>
	</mat-card>
</div>

<div class="loading" *ngIf="loading">
	<img src="assets/loading.svg">
	Cargando...
</div>