mat-toolbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

main {
	height: calc(100% - 86px);
    margin-top: 86px;
}

.new-title {
	width: 90%;
    margin: 16px auto 0;
    display: block;
}

.tools {
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #eee;
    height: 50px;
    align-items: center;
    
    button {
	    height: 100%;
		width: 10%;
    }
}

.big-text {
	width: 100%;
    box-sizing: border-box;
    height: 80%;
    padding: 16px;
    border: 0;
    background-color: #fff;
	outline: 0;
	font-size: 16px;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	
	&:focus {
		border-top: 2px solid #3f51b5;
		border-bottom: 2px solid #3f51b5;
	}
}

.photos {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	background-color: rgba(0,0,0,0.6);

	mat-card {
		width: 80%;
	}
}

.photos-list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;

	.photo-item {
		margin-bottom: 10px;
		margin-right: 10px;
		border: 2px solid transparent;
		width: 150px;
		height: 150px;
		
		&:hover {
			cursor: pointer;
			border: 2px solid rgb(110, 171, 230);
		}
		
		img {
			width: 100%;
			height: 100%;
		}
	}
	
	.photo-add {
		margin-bottom: 10px;
		margin-right: 10px;
		border: 2px solid #ccc;
		width: 150px;
		height: 150px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
		&:hover {
			cursor: pointer;
			border: 2px solid rgb(110, 171, 230);
		}
	}
}

.tag-suggestions{
	background-color: #fff;
    padding: 16px;
    width: 90%;
    margin: 0 auto;
    border-radius: 8px;
	
	button {
		margin-left: 16px;
		
		&:hover {
			background-color: #3d4eae;
		}
	}
}

.entry-delete{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    margin-top: 30px;
    
    button {
	    margin-top: 20px;
    }
}