.sidenav-container {
	height: 100%;
}

.side-menu {
	width: 20%;
	min-width: 320px;
}

.toolbar-fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

.toolbar-absolute {
	position: absolute;
}

main {
	height: calc(100% - 64px);
	margin-top: 64px;
	display: flex;
	flex-direction: column;

	.side-col {
		width: calc(100% - 32px);
		margin: 16px;

		.filters-collapse {
			display: flex;

			span {
				flex: 1;
				display: flex;
				align-items: center;
			}
		}

		.filters-collapsed {
			display: none;
		}

		.tag-item {
			display: flex;

			.num-tags {
				flex: 1;
				text-align: right;
			}
		}
	}

	.main-col {
		width: calc(100% - 32px);
		margin: 16px;

		.selected-day {
			color: rgba(0, 0, 0, 0.54);
			font-size: 0.7em;
		}

		.entry-list {
			height: calc(100% - 100px);
			overflow-y: auto;
		}

		.action-buttons {
			display: flex;
			width: 100%;

			.pagination-buttons {
				--mat-outlined-button-icon-spacing: 0;
				--mat-outlined-button-icon-offset: 0;
			}

			button {
				margin: 0 8px;
			}

			.action-buttons-others {
				flex: 1;
				display: flex;
				justify-content: flex-end;
			}
		}
	}
}

@media screen and (min-width: 900px) {
	main {
		flex-direction: row;

		.side-col {
			width: calc(20% - 24px);
			margin: 16px 8px 16px 16px;

			.filters-collapse button {
				display: none;
			}
		}

		.main-col {
			width: calc(80% - 24px);
			margin: 16px 16px 16px 8px;
		}
	}
}