<mat-sidenav-container class="sidenav-container">
	<mat-sidenav #sidenav
				 mode="push"
				 class="side-menu"
				 (opened)="menuOpened(true)"
				 (closed)="menuOpened(false)">
		<mat-toolbar color="primary">
			<mat-toolbar-row>
				<span>Logger</span>
			</mat-toolbar-row>
		</mat-toolbar>
		<mat-nav-list>
			<a mat-list-item
			   routerLink="/tags">
				<mat-icon matListIcon>bookmarks</mat-icon>
				Tags
			</a>
			<a mat-list-item
			   (click)="logout($event)">
				<mat-icon matListIcon>power_settings_new</mat-icon>
				Salir
			</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<mat-toolbar color="primary"
					 class="toolbar-fixed"
					 ngClass="{'toolbar-absolute': menuShow}">
			<mat-toolbar-row>
				<button mat-icon-button
						aria-label="Editar entrada"
						(click)="sidenav.toggle()">
					<mat-icon>menu</mat-icon>
				</button>
				<span>Logger</span>
			</mat-toolbar-row>
		</mat-toolbar>

		<main>
			<mat-card class="side-col">
				<mat-card-header>
					<mat-card-title>Filtros</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<mat-nav-list>
						@for (tag of tagList; track tag.id) {
						<a mat-list-item
						   (click)="selectTag(tag)">
							<div class="tag-item">
								{{tag.name}}
								<span class="num-tags">{{tag.num}} entradas</span>
							</div>
						</a>
						}
					</mat-nav-list>
					<ocalendar #calendar
							   [initialMonth]="month"
							   [initialYear]="year"
							   (calendarChanged)="calendarChange($event)"
							   (daySelectedChanged)="calendarSelectDay($event)" />
				</mat-card-content>
			</mat-card>
			<mat-card class="main-col">
				<mat-card-header>
					<mat-card-title>
						Entradas
						@if (day !== null) {
						<span class="selected-day">{{day}}/{{month}}/{{year}}</span>
						}
					</mat-card-title>
				</mat-card-header>
				<mat-card-content class="entry-list">
					<mat-nav-list>
						@for (entry of entryList; track entry.id) {
						<app-one-entry [entry]="entry" />
						}
						@empty {
						<mat-list-item>No se han encontrado entradas.</mat-list-item>
						}
					</mat-nav-list>
				</mat-card-content>
				<mat-card-actions>
					<div class="action-buttons">
						<div class="action-buttons-filters">
							@if (selectedTag !== null || day !== null) {
							<button mat-stroked-button
									(click)="clearFilters()">
								<mat-icon>filter_list</mat-icon>
							</button>
							}
						</div>
						<div class="action-buttons-others">
							<button mat-stroked-button>
								<mat-icon>chevron_left</mat-icon>
							</button>
							<button mat-stroked-button>
								<mat-icon>chevron_right</mat-icon>
							</button>
						</div>
					</div>
				</mat-card-actions>
			</mat-card>
		</main>

		<button mat-fab
				color="primary"
				class="fab-button"
				routerLink="/add">
			<mat-icon>add</mat-icon>
		</button>
	</mat-sidenav-content>
</mat-sidenav-container>

@if (loading) {
<div class="loading">
	<img src="assets/loading.svg">
	Cargando...
</div>
}