<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Logger</span>
  </mat-toolbar-row>
</mat-toolbar>

<form name="frm-login" (ngSubmit)="doLogin($event)">
	<mat-card class="center-card">
		<mat-card-header>
			<mat-card-title>Iniciar sesión</mat-card-title>
		</mat-card-header>
		<mat-card-content class="center-card-fields">
			<mat-form-field>
				<mat-label>Nombre de usuario</mat-label>
				<input matInput [(ngModel)]="loginData.username" [disabled]="loginSending" required name="username">
			</mat-form-field>
			<mat-form-field>
				<mat-label>Contraseña</mat-label>
				<input matInput type="password" [(ngModel)]="loginData.pass" [disabled]="loginSending" required name="pass">
			</mat-form-field>
			<fieldset *ngIf="loginError" class="center-card-error">
				<legend>Error</legend>
				El nombre de usuario o contraseña son incorrectos.
			</fieldset>
		</mat-card-content>
		<mat-card-actions class="center-card-buttons">
			<a routerLink="/register" mat-button [disabled]="loginSending">Regístrate</a>
			<button mat-raised-button color="primary" [disabled]="loginSending" type="submit">
				<img *ngIf="loginSending" src="/assets/loading.svg">
				Continuar
			</button>
		</mat-card-actions>
	</mat-card>
</form>