<mat-sidenav-container>
	<mat-sidenav #sidenav mode="push" class="side-menu">
		<mat-toolbar color="primary">
			<mat-toolbar-row>
				<span>Logger</span>
			</mat-toolbar-row>
		</mat-toolbar>
		<mat-nav-list>
		  <mat-list-item>
		     <a matLine [routerLink]="['/', username, 'tags']">
			    <mat-icon matListIcon>bookmarks</mat-icon>
			    Tags
			  </a>
		  </mat-list-item>
		  <mat-list-item>
		     <a matLine (click)="logout($event)">
			    <mat-icon matListIcon>power_settings_new</mat-icon>
			    Salir
			  </a>
		  </mat-list-item>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<mat-toolbar color="primary">
			<mat-toolbar-row>
				<button mat-icon-button aria-label="Editar entrada" (click)="sidenav.toggle()">
					<mat-icon>menu</mat-icon>
				</button>
				<span>Logger</span>
			</mat-toolbar-row>
		</mat-toolbar>
		
		<mat-nav-list>
			<app-one-entry *ngFor="let entry of entryList" [entry]="entry" [username]="username"></app-one-entry>
		</mat-nav-list>
		
		<button mat-fab color="primary" class="fab-button" [routerLink]="['/', username, 'add']">
			<mat-icon>add</mat-icon>
		</button>
	</mat-sidenav-content>
</mat-sidenav-container>

<div class="loading" *ngIf="loading">
	<img src="assets/loading.svg">
	Cargando...
</div>