<mat-toolbar color="primary">
  <mat-toolbar-row>
	<button [routerLink]="['/',username]" mat-icon-button>
		<mat-icon>arrow_back</mat-icon>
	</button>
    <span *ngIf="entry.title!=''">{{entry.title}}</span>
    <span *ngIf="entry.title==''">Sin título</span>
	<span class="flex-space"></span>
	<button mat-icon-button aria-label="Guardar entrada" (click)="saveEntry()">
		<mat-icon>save</mat-icon>
	</button>
  </mat-toolbar-row>
</mat-toolbar>

<main>
	<app-editor (onLoading)="editorLoaded($event)" #editor></app-editor>
</main>

<div class="loading" *ngIf="loading">
	<img src="assets/loading.svg">
	Cargando...
</div>