mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

main {
    height: calc(100% - 86px);
    margin-top: 86px;
}

.entry-delete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    margin-top: 30px;

    button {
        margin-top: 20px;
    }
}