<mat-toolbar color="primary">
  <mat-toolbar-row>
    @if (isLogged()) {
    <button routerLink="/home"
            mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
    }
    <span>{{entry.title}}</span>
    <span class="flex-space"></span>
    @if (isLogged()) {
    <button mat-icon-button
            aria-label="Editar entrada"
            [routerLink]="['/entry', entry.id, 'edit']">
      <mat-icon>edit</mat-icon>
    </button>
    }
  </mat-toolbar-row>
</mat-toolbar>

<main>
  <div class="body"
       [innerHTML]="htmlContent"></div>
</main>

@if (loading()) {
<div class="loading">
  <img src="/img/loading.svg"
       alt="Cargando...">
  Cargando...
</div>
}