<div class="ocalendar">
    <div class="ocalendar-header">
        <button (click)="changeMonth(-1)">«</button>
        <select [(ngModel)]="currentMonth"
                (change)="changeMonth()">
            @for (month of months; track month.month) {
            <option [ngValue]="month.month">{{month.name}}</option>
            }
        </select>
        <select [(ngModel)]="currentYear"
                (change)="changeMonth()">
            @for (y of years; track y) {
            <option [ngValue]="y">{{y}}</option>
            }
        </select>
        <button (click)="changeMonth(1)">»</button>
    </div>
    <div class="ocalendar-body">
        <div class="ocalendar-weekdays">
            <div>Lu</div>
            <div>Ma</div>
            <div>Mi</div>
            <div>Ju</div>
            <div>Vi</div>
            <div>Sá</div>
            <div>Do</div>
        </div>
        @for (week of weeks; track week) {
        <div class="ocalendar-week">
            @for (day of week; track day) {
            <div class="ocalendar-day">
                @if (day) {
                <div [class.marked]="day?.isMarked"
                     (click)="selectDay(day)">{{ day?.day }}</div>
                }
            </div>
            }
        </div>
        }
    </div>
</div>