/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	background-color: #fafafa;
}

.align-left {
	display: block;
	padding: 16px;
	text-align: left;
}

.align-center {
	display: block;
	padding: 16px;
	text-align: center;
}

.align-right {
	display: block;
	padding: 16px;
	text-align: right;
}

.mat-form-field-flex {
	background-color: #fff;
}

.mat-nav-list .mat-list-item {
	background-color: #fff;
}

.btn-bottom-right {
	position: fixed !important;
	bottom: 36px;
	right: 36px;
}

.sidebar {
	min-width: 300px;
}

.center-card {
	max-width: 300px;
	margin: 50px auto;
}

.center-card-big {
	width: 90%;
	margin: 50px auto;
}

.center-card-content {
	width: 95%;
	margin: 20px auto;
}

.center-card-fields>* {
	width: 100%;
}

.center-card-buttons {
	display: flex !important;
	justify-content: space-between;
}

.center-card-buttons img {
	width: 20px;
}

.center-card-buttons-end {
	display: flex !important;
	justify-content: flex-end;
}

.center-card-error {
	border-radius: 6px;
	box-sizing: border-box;
	border-color: #f44336;
	color: #f44336;
	border-width: 2px;
}

.flex-space {
	flex: 1 1 auto;
}

.tab-icon {
	margin-right: 8px;
}

.tab-top-margin {
	margin-top: 20px;
}

.disabled-title {
	color: #ccc;
}

.fab-button {
	position: fixed !important;
	bottom: 20px;
	right: 20px;
}

.entry-date {
	text-align: right;
}

.entry-photo {
	display: block;
	width: 80%;
	margin: 16px auto;
	border-radius: 8px;
}

.loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 3em;
}

.full-width {
	width: 100%;
}